.nav-bg {
    background-color: grey;
}

.nav-link-color {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link-color:hover {
    /* color: #00452c; */
    color: rgba(194,159,55,1);
}