.to-br {
    white-space: pre-line;
    text-align: center;
    padding: 1.5em;
}

.sec-span {
    /* margin-left: 70%; */
    float: right;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.left > table > thead > tr > th, 
.left > table > tbody > tr > td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.left > table > tbody > tr:hover {background-color: grey;}

.left > table > thead > tr > th {
    /* background-color: #00452c; */
    background-color: rgba(194,159,55,1);
    color: white;
    /* width: 5vw; */
    width: 100vw;
    text-align: center;
}

.left > table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.left > table > tbody > tr {
    display:inline-block;
    width: 33.3%;
    margin:0;
    padding:0;
}

.left > table > tbody > tr > td {
    display:inline-block;
    width: 100%;
    /* margin:0;
    padding:0; */
}

.contain {
    /* width: 100%; */
    display: flex;
}

.left {
    width: 59%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* border: #00452c; */
    border: rgba(194,159,55,1);
    border-style: solid;
    border-radius: 20px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.left-contain {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.right {
    /* float: right; */
    /* flex-grow: 1; */
    /* border: #00452c; */
    border: rgba(194,159,55,1);
    border-style: solid;
    border-radius: 20px;
    width: 39%;
    margin-left: auto;
    margin-right: auto;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.right-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    /* height: 90vh; */
    width: 37vh;
}

@media (max-width: 800px) {
    .contain {
        display: block;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .left > table > tbody > tr {
        display:inline-block;
        width: 50%;
        margin:0;
        padding:0;
    }
    .left > table > thead > tr > th {
        justify-items: center;
    }
}