.user-prof {
    text-align: center;
    border: #00452c;
    border-style: solid;
    border-radius: 20px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;

    background: rgba(195, 185, 95, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.list-table {
    text-align: left;
    justify-content: center;
    border: #00452c;
    border-style: solid;
    border-radius: 20px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;

    background: rgba(195, 185, 95, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.list-table > table > tbody > tr > td,
.list-table > table > thead > tr > th,
.list-table > table > tbody > tr > th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

.list-table > table > tbody > tr > td {
    text-align: center;
}

/* .list-table > table > tr:nth-child(even) {
    background-color: #eee;
} */

.list-table > table > thead > tr > th[scope='col'] {
    /* background-color: #00452c; */
    background-color: rgba(194,159,55,1);
    color: white;
}

.list-table > table > tbody > tr > th[scope='row'] {
    background-color: grey;
}

.list-table > table {
    border-collapse: collapse;
    /* border: 2px solid rgb(200, 200, 200); */
    /* letter-spacing: 1px; */
    /* font-family: sans-serif; */
    /* font-size: 0.8rem; */
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
    text-align: center;

    background: white;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 1);
}

.prof-link-color {
    text-decoration: none;
    color: white;
}

.prof-link-color:hover {
    /* color: #00452c; */
    color: rgba(194,159,55,1);
}

.align-update-delete > table {

    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    text-align: left;
}

.align-update-delete > table > tbody > tr > td {
    padding: 10px;
}