.contain-res {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: #00452c;
    border-style: solid;
    border-radius: 20px;
    width: 95%;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.full-results {
    display: inline-flex;
    /* position: relative; */
    flex-wrap: wrap;
    justify-content: center;
}

.full-cards {
    width: 300px;
    margin: 1vw;
    background-color: rgb(165, 165, 165);
    /* margin: 50%; */
    /* margin-left: 50%; */
    /* margin-right: 1vw; */
    /* margin-inline: 50%; */
    /* margin-top: 1vh; */
    /* margin-bottom: 1vh; */

}

.cen-search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: #00452c;
    border-style: solid;
    border-radius: 20px;
    width: 99%;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
}

@media (max-width: 800px) {
    .full-card {
        width: 100vw;

    }
  }

/* <div style={{ display: 'flex', flexWrap : 'wrap', justifyContent : 'center' }}> */
/* <Card style={{ width: '18rem', margin : '1vh'}} key={info.name}> */